<p>
  <strong>
    <%= @tasks ? "#{task.category.title} Category" : nil %> <br>
    <%= task.title %> <br>
    <%= task.date.strftime('%b %e, %Y') %>
  </strong>
</p>

<p>
  <%= link_to "Show", category_task_url(task.category, task) %> |
  <%= link_to "Edit", edit_category_task_url(task.category, task) %> |
  <%= link_to "Delete", [task.category, task], method: :delete, data: {confirm: "Are you sure?"} %>
</p>
