<p>
  <strong>
    <%= task.title %> <br>
    <%= task.date %>
  </strong>
</p>

<p>
  <%= link_to "Show", category_task_url(task.category, task) %> |
  <%= link_to "Edit", edit_category_task_url(task.category, task) %> |
  <%= link_to "Delete", [task.category, task], method: :delete, data: {confirm: "Are you sure?"} %>
</p>
